{{ partial "header.html" . }}

<div class="index-container">
    <h1 class="index-title">Juan Francisco Burgos (fafi)</h1>

    <h2 class="index-subtitle">Software developer</h2>
    
    <div class="index-presentation">
        <p>This is my blog where I share content about <strong>cybersecurity and software development</strong></p>
    </div>
    
    <div class="index-skills">
        <h3>Skills</h3>
        <ul>
            <li>Python</li>
            <li>SQL</li>
            <li>Docker</li>
            <li>Bash Scripting</li>
            <li>Linux</li>
            <li>Networking</li>
            <li>Powershell</li>
            <li>Windows</li>
        </ul>
    </div>
</div>


<div class="index-content">
    {{ .Content }}
</div>

